@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-roboto);
}

.wixApiHeight {
  height: calc(100vh - 30vh);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
