@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  font-family: var(--font-roboto);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wixApiHeight {
  height: calc(100vh - 30vh);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
